/*  
*{
    box-sizing: border-box
 }
.menu{
    width: 25%;
    float: left;
    background-color:aqua;
}
.main{
    width: 75%;
    float: left;
    background-color:green;

}
/*untuk membaca semua class yg berawalan "col-"  *//*
[class*="col-"]{
    float: left;
    padding: 15px;
}


.col-1 {width:8,33%;}  
.col-2 {width:16.66%}
.col-3 {width:25%;} 
.col-4 {width:33,33%}
.col-5 {width:41,66%;}
.col-6 {width:50%;}
.col-7 {width:58,33%}
.col-8 {width:66,66%}
.col-9 {width:75%}
.col-10 {width:83,33%;}
.col-11 {width:91,66%;}
.col-12 {width:100%;}

/*screen akan berubah ketika screen dibawah 500  *//*
@media only screen and (max-width: 500px){

    body{
        background-color: lightblue;
    }
    /*.col-sm- berlaku jika   *//*
.col-sm-1 {width:8,33%;}  
.col-sm-2 {width:16.66%}
.col-sm-3 {width:25%;} 
.col-sm-4 {width:33,33%}
.col-sm-5 {width:41,66%;}
.col-sm-6 {width:50%;}
.col-sm-7 {width:58,33%}
.col-sm-8 {width:66,66%}
.col-sm-9 {width:75%}
.col-sm-10 {width:83,33%;}
.col-sm-11 {width:91,66%;}
.col-sm-12 {width:100%;}

}
*/
body{
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}

.header {
    display: block;
    width: 100%;
    text-align: center;
    background: url('../css/header.1.png') no-repeat center center scroll;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 30px;
}

.header-name{
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    margin-top: 35px;
}

.header-occupation{
    font-size: 1.3em;
    font-weight: bold;
    color: #5dc2d8;
}

.header-tagline{
    color: white;
}

.profile-image{
    margin: auto; 
    max-height: 250px; 
    border: 6px solid #8c8c8c;
}

/*HEADER*/
 .section-title1{font-size: 2.5em;
    font-weight: bold;
    color:wheat;
    background: url('../css/header.1.png');
    margin-bottom: 10px}

   

.about-info{
    text-align: left;
    border-bottom: dashed 1px;   
    padding: 10px 10px 10px 0px;
}

.about-img{
    max-width: 450px;
    min-width: 300px;
    border: 6px solid #8c8c8c;
}

.about-img-container{
    float: right;
}

.row.row-eq-height {
    display: flex;
}

@media only screen and (max-width: 850px) {
    .about-img-container{
        float: none;
    }
    .row.row-eq-height {
        display: initial;
    }
}


/*ABOUT*/



/*MY EDUCATION*/

#myeducation{
    background-color:#cecece;
    min-height: 500px;
}

.myeducation-container{
    padding: 30px;
    text-align: left;
}

.myeducation-year{
    border-left: 4px solid #ff8738;
    padding-left: 10px;
}

.myeducation-underline{
    border-color: black;
}

/*MY SKILL*/

.myskill-bg-image {
    display: block;
    text-align: center;
    background: url('../css/header.1.png') no-repeat center center scroll;
    background-size: cover;
    height: inherit;
}

.myskill-title{
    color: white;
}

.myskill-container{
    padding: 30px;
    text-align: left;
    color: white;
}

.myskill-progress-title{
    padding: 10px 10px 10px 0px;
}

/*MY SKILL*/

/*CONTACT*/

#contact{
    padding-bottom: 50px;
}

.contact-input{
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.1);
}

.contact-button{
    background-color: black;
    color: white;
    border-radius: 0px;
    width: 100%;
}

/*CONTACT*/


/*FOOTER*/

footer {
    padding: 20px;
    background-color: black;
    color: white;
}

/*FOOTER*/


/*GENERAL*/

hr {
    margin-top: 5px;
    margin-bottom: 10px;
}

.section{
    text-align: center;
    margin-bottom: 25px;
}

.section-title{
    font-size: 2em;
    font-weight: bold;
    margin-top:20px;
    margin-bottom: 20px;
}

/*GENERAL*/

